$violet: #9747ff;
$dark_blue: #004781;
$blue: #0082de;
$vivid_blue: #1f91e2;
$beau_blue: #bcdcf3;
$light_blue: #e5f3fc;
$alice_blue: #f2f8ff;
$grey: #7a91a9;
$grey_x11: #bebebe;
$anti_flash_white: #f2f4f5;
$anti_flash_white_2: #f3f3f3;
$light_grey: #dadada;
$dark-grey: #333;
$granite_gray: #666666;
$table-border-color: #d5dee8;
$table-hover-input: #f8f8f8;
$green: #19a74a;
$scream_green: #7fff5d;
$pastel_green: #71d472;
$light_green: #ddf7f1;
$honeydew: #e6fbec;
$black: #263043;
$yellow: #ffcb45;
$crayola: #f4d150;
$light_yellow: #fffcf0;
$red: #eb4d3d;
$light_red: #fff6f5;
