:root {
  --btn-border-radius: 8px;
}

.pointer {
  cursor: pointer !important;
}

.pointer-events-none {
  pointer-events: none !important;
}

.pl-6-05 {
  padding-left: 110px !important;
}

.border-all {
  border: 1px solid $border-color !important;
}

.br-14 {
  border-radius: 14px !important;
}

.br-8 {
  border-radius: 8px !important;
}

.br-full {
  border-radius: 50% !important;
}

.box-shadow {
  box-shadow: 0 4px 25px #edeef1 !important;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.fz-18 {
  font-size: 18px !important;
}

.fz-32 {
  font-size: 32px !important;
}
