@import 'colors';
@import 'custom';
@import 'custom-vuetify';
@import 'components/buttons';
@import 'components/labels';
@import 'components/menu';
@import 'components/forms';
@import 'components/tabs';
@import 'components/other';

.ruqi {
  letter-spacing: normal;
  font-size: 16px;

  .theme--light.v-application {
    color: #263043;
  }

  .container {
    max-width: 100%;
    margin: 0;
  }

  .table_progress {
    position: sticky;
    bottom: 0;
    z-index: 20;
  }

  .table_progress_wrap {
    position: sticky;
    bottom: 0;
    z-index: 20;
    height: 4px;
  }
}

.v-application {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.ruqi_scrollbar,
.v-navigation-drawer__content {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: $light_blue;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: 2px;
  }
}

.wrapper-page-default {
  padding-left: 45px;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* Colors*/
.color-black {
  color: $black;
}

.color-green {
  color: $green;
}

.color-main {
  color: $blue;
}

/* Grid*/

.w-100 {
  width: 100%;

  > div {
    width: 100%;
  }
}

.divider-mar {
  margin: 38px 0 26px 0;
}

/* Blocks */

.wrapp-alert {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;

  .v-alert {
    margin: 0;
  }
}

.wrapp-alerts {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;

  .v-alert {
    margin: 0;
  }
}

/* Buttons  */

.ruqi {
  .v-btn {
    letter-spacing: 0;

    &.btn-blue {
      font-weight: 700;
      background-color: #0082de;
      color: white;
      border: none;

      &:hover {
        background-color: #004781;
      }
      &.v-btn--disabled {
        background-color: #eff1f2;
      }
    }

    &.btn-white {
      font-weight: 700;
      background-color: #fff;
      border: 1px solid #c9c9c9;
      padding: 10px 20px;

      &:hover {
        background-color: #fcfeff;
      }
    }

    .right_img {
      margin-left: 12px;
    }

    .left_img {
      margin-left: 12px;
    }

    &.add {
      font-weight: 700;

      .v-icon {
        margin-right: 8px;
      }

      &:hover {
        background-color: #004781;
      }
    }

    &.btn-close {
      font-weight: 700;
    }

    &.btn-back {
      color: $grey;
      font-weight: 700;
    }

    &.btn-blue-border {
      color: $grey;
      font-weight: 700;
      border: 2px solid #1f91e2;
      border-radius: 8px;
    }
  }

  .theme--light.v-btn:focus::before {
    opacity: 0;
  }

  .actions-btn {
    background: #f4f4f4;
    border-radius: 8px;
  }
}

/* Headers */

h1 {
  font-size: 44px;
  color: $black;
  margin: 40px 0;
}

h1.large {
  font-size: 28px;
}

/* Text */

.no-wrap {
  white-space: nowrap;
}

/* Fields style */

.ruqi {
  .v-select > .v-input__control > .v-input__slot {
    border-radius: 10px;
  }

  .v-input--is-disabled:not(.v-input--is-readonly) {
    pointer-events: all;
  }

  .v-text-field--outlined > .v-input__control > .v-input__slot,
  .theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
    min-height: 48px;
    background: transparent;
  }

  .v-text-field--enclosed .v-input__append-inner {
    margin-top: 10px;
  }

  .v-text-field--outlined.v-input--is-focused fieldset,
  .v-text-field--outlined.v-input--has-state fieldset {
    border: 1px solid $table-border-color;
  }

  .v-text-field--outlined.v-input--is-focused.error--text fieldset,
  .v-text-field--outlined.v-input--has-state.error--text fieldset {
    border: 1px solid $red;
    background-color: $light_red;
  }

  .theme--light.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state)
    > .v-input__control
    > .v-input__slot:hover {
    background: white;

    .v-text-field--outlined.v-input--is-focused fieldset,
    .v-text-field--outlined.v-input--has-state fieldset {
      border: 1px solid $table-border-color;
    }
  }

  .v-text-field fieldset,
  .v-text-field .v-input__control,
  .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
    > .v-input__control
    > .v-input__slot
    fieldset,
  .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled)
    > .v-input__control
    > .v-input__slot:hover
    fieldset {
    color: $table-border-color;
  }

  .v-input--selection-controls__input .v-icon {
    color: $table-border-color;
  }

  .v-input--selection-controls__input .v-icon.mdi-checkbox-marked {
    color: $blue;
  }

  .v-sheet.v-list {
    border-radius: 10px;
  }

  .theme--light.v-select.v-input--is-readonly .v-select__selections,
  .theme--light.v-input.v-input--is-readonly input {
    color: $grey;
  }

  .v-text-field--outlined .v-label {
    top: 13px;
  }

  .v-text-field--outlined .v-label.v-label--active {
    top: 18px;
  }

  .v-menu__content {
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $grey;
      padding: 0 16px;
    }

    .v-list-item {
      .v-list-item__action {
        margin-right: 6px;
      }
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: $light_blue;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      border-radius: 2px;
    }
  }

  .v-subheader {
    font-size: 16px;
    font-weight: 600;
  }

  .row-auto .v-input {
    flex: none;
  }

  .row-auto .v-input__control {
    flex-grow: 0;
    width: auto;
  }

  .theme--light.v-label {
    color: $granite_gray;
  }

  .actions-menu {
    width: 320px;
    padding: 0;
  }

  .actions-menu__item,
  a.actions-menu__item {
    width: 100%;
    text-decoration: none;
    text-transform: none;
    color: #263043;
    font-weight: 600;
    padding: 8px 16px;
    cursor: pointer;

    .v-icon {
      color: #bbb;
      margin-right: 8px;
    }

    &:hover {
      background: #f2f8ff;
    }
  }

  /** deprecated **/
  .card-actions-menu {
    width: 285px;

    .card-action {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: none;
      text-transform: none;
      color: #263043;
      font-weight: 600;

      .v-icon {
        color: #bbb;
        margin-right: 8px;
      }
    }

    .v-divider {
      margin: 12px 0;
      border-color: #f5f5f5;
    }
  }
}

/* Tabs */

.ruqi {
  .table-filter-row {
    .v-tabs {
      width: auto;
      flex: 0;
    }
  }

  .form-tabs .v-slide-group__content {
    border-bottom: 1px solid $table-border-color;
  }

  .v-tabs-slider-wrapper {
    bottom: -1px;
  }

  .v-tab {
    letter-spacing: normal;
  }

  .v-tab:before,
  .v-tab.v-tab--active:before {
    display: none;
  }

  .icon-tabs {
    .v-tabs-slider-wrapper {
      display: none;
    }

    .v-tab {
      padding: 0;
      margin-left: 10px;
      border-radius: 10px;
    }
  }

  .form-tabs {
    margin-bottom: 48px;

    .v-tab {
      border-bottom: 1px solid $light_grey;
      text-transform: none;
      font-size: 16px;
      color: $dark-grey;
      font-weight: 600;
      height: 48px;
      padding: 0 12px;
    }

    .v-tab.v-tab--active {
      color: $blue;
    }

    .v-tab:first-child {
      padding-left: 0;
    }
  }

  .wrap-tabs {
    .v-tab {
      .count {
        color: #263043;
        display: inline-block;
        margin-left: 8px;
      }
    }
  }

  .v-tabs-bar {
    background-color: transparent;
    border: 1px solid $light_grey;
  }

  .form-tabs-minify {
    display: inline-flex;
    width: auto;
    border-radius: 4px;
    flex: 0;

    .v-tabs-bar {
      border: none;

      .v-tab {
        border: none;
        text-transform: none;
        font-size: 16px;
        color: #666;
        font-weight: 600;
        height: 36px;
        padding: 0 20px;
        border-right: 1px solid $table-border-color;

        &:last-child {
          border-right: none;
        }
      }

      .v-tab.v-tab--active {
        color: #263043;
        background: #f2f8ff;
        &:first-child {
          border-radius: 4px 0 0 4px;
        }
        &:last-child {
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }
}

/* Table filter*/
.ruqi {
  .table-filter-row {
    align-items: center;
    min-height: 56px;

    .v-input {
      margin-right: 18px;
    }
  }

  .v-input--selection-controls {
    margin-top: 0;
    padding-top: 0;
  }

  .table-filter-row.large {
    min-height: 75px;
  }

  .filter-row {
    .v-input__control {
      transition: 0.4s ease-out;
    }

    .card-actions {
      margin-left: 12px;
    }
  }
}

/* Table list style */
.table-list-style {
  .v-data-table > .v-data-table__wrapper {
    table {
      border-collapse: separate;
      border-spacing: 0 16px;
      color: $grey;
      font-weight: 600;

      thead th {
        border: none !important;
        padding: 10px 20px !important;
        white-space: nowrap;

        span {
          text-transform: uppercase;
        }
      }

      tbody tr {
        cursor: pointer;
        border-radius: 10px;
        z-index: 0;
        position: relative;

        td {
          padding: 10px 20px;
          height: 85px;
          border-top: 1px solid $table-border-color;
          border-bottom: 1px solid $table-border-color;
          background: #fff;
          transition: box-shadow 0.2s ease-in;
          font-size: 16px;
          white-space: nowrap;
        }

        td:first-child {
          border-radius: 14px 0 0 14px;
          border-left: 1px solid $table-border-color;
        }

        td:last-child {
          border-radius: 0 14px 14px 0;
          border-right: 1px solid $table-border-color;
          width: 100%;
        }
      }

      tbody tr:hover {
        box-shadow: 0 4px 25px #edeef1;
        z-index: 1;

        td {
          background: #fff;
        }

        td:first-child {
          border-radius: 14px 0 0 14px;
        }

        td:last-child {
          border-radius: 0 14px 14px 0;
        }
      }
    }

    a {
      text-decoration: none;
    }
  }

  &.minify-header {
    background: #f5f5f5;
    padding: 0 24px;
    position: relative;
    margin-top: -16px;

    .minify-header-substrate {
      background: #fff;
      width: 100%;
      height: 56px;
      position: absolute;
      left: 0;
      top: 0;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 16px;
        width: 100%;
        height: 40px;
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
      }
    }

    .v-data-table {
      background: #f5f5f5;

      > .v-data-table__wrapper {
        thead {
          th {
            padding: 5px 0px 5px 12px !important;
            background: #fff;
            border-top: 1px solid $table-border-color !important;
            border-bottom: 1px solid $table-border-color !important;
            height: 40px;
            position: relative;

            &:first-child {
              width: 30px;
              text-align: center;
              padding-left: 14px !important;

              .v-input--selection-controls__input {
                margin: 0;
              }

              &:before {
                display: none;
              }
            }

            &:after {
              content: '';
              display: block;
              position: absolute;
              bottom: -2px;
              left: 0;
              width: 100%;
              height: 1px;
              background: #f5f5f5;
            }

            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              width: 1px;
              height: 22px;
              margin-top: -11px;
              background: #eee;
            }

            &.actions:before {
              display: none;
            }

            span {
              text-transform: uppercase;
              color: $grey;
            }
          }
        }

        tbody {
          td {
            padding: 5px 12px !important;
            white-space: nowrap;

            &:first-child {
              width: 30px;
              text-align: center;
              padding-left: 25px !important;

              .v-input--selection-controls__input {
                margin: 0;
              }
            }

            &:last-child {
              width: 100%;
            }

            .v-btn.actions-btn {
              background: #f5f7f9;
              border-radius: 4px;
              width: 30px;
              height: 30px;
              color: #aaa;
              margin: 0;
            }

            .rate {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.table-list-style.select .v-data-table > .v-data-table__wrapper {
  tbody {
    tr {
      td:first-child {
        width: 40px;
      }
    }
  }
}

.table-filter-row {
  padding-bottom: 2px;
  margin-bottom: 24px;
}

.table-list-style-nospacing {
  // !!!!!  DEPRECATED   USE .rq_flat_table
  .v-data-table.theme--light {
    background: transparent;

    > .v-data-table__wrapper {
      overflow: visible;

      table {
        border-collapse: separate;
        border-spacing: 0;
        color: $grey;
        font-weight: 600;
        border-radius: 14px;
        margin-bottom: 16px;

        thead {
          th {
            border: none !important;
            padding: 10px 12px !important;
            background: transparent;

            span {
              text-transform: uppercase;
            }

            .v-data-table__checkbox {
              display: none;
            }
          }
        }

        tbody {
          // box-shadow: 0 6px 73px rgb(0 0 0 / 7%);
          border-radius: 14px;

          tr {
            cursor: pointer;
            border-radius: 10px;
            z-index: 0;
            position: relative;
            background: transparent;
            box-shadow: none;

            td {
              padding: 10px 12px;
              height: 85px;
              border-bottom: 1px solid $table-border-color;
              font-size: 16px;

              .v-btn {
                border-radius: 8px;
                margin-right: 8px;
                font-weight: 700;
                color: $grey;
              }

              .v-btn:last-child {
                margin-right: 0;
              }

              table {
                .v-btn {
                  color: #fff;
                }

                fieldset {
                  border-radius: 4px;
                }
              }

              .v-text-field__details {
                position: absolute;
                bottom: -25px;
                left: 0;
                min-width: 100px;
                padding: 0;
              }

              .v-input__slot {
                margin-bottom: 0;
                min-height: 40px;
              }

              .v-select__slot {
                height: 40px;
              }
            }

            td:first-child {
              border-left: 1px solid $table-border-color;
            }

            td:last-child {
              border-right: 1px solid $table-border-color;
            }
          }

          tr.v-data-table__expanded__row {
            td {
              background: #f6fbff;
            }
          }

          tr.v-data-table__expanded__content {
            background: #f6fbff;

            tbody {
              box-shadow: none;
              border-radius: 0;

              td {
                border: 0;

                .theme--light.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state)
                  > .v-input__control
                  > .v-input__slot,
                .theme--light.v-text-field--filled:not(.v-input--is-focused):not(.v-input--has-state)
                  > .v-input__control
                  > .v-input__slot:hover {
                  background: #fff;
                }
              }
            }
          }

          tr:first-child {
            td {
              border-top: 1px solid $table-border-color;
            }

            td:first-child {
              border-top-left-radius: 14px;
            }

            td:last-child {
              border-top-right-radius: 14px;
            }
          }

          tr:last-child {
            td {
              border-bottom: 1px solid $table-border-color;
            }

            td:first-child {
              border-bottom-left-radius: 14px;
            }

            td:last-child {
              border-bottom-right-radius: 14px;
            }

            td.total {
              background: $light_blue;
              height: 47px;
              color: $black;
              font-weight: 700;
            }
          }

          tr:hover {
            td {
              background: #f6fbff;
            }
          }

          tr:first-child:hover {
            td:first-child {
              border-top-left-radius: 14px;
            }

            td:last-child {
              border-top-right-radius: 14px;
            }
          }

          tr:last-child:hover {
            td:first-child {
              border-bottom-left-radius: 14px;
            }

            td:last-child {
              border-bottom-right-radius: 14px;
            }
          }
        }
      }

      a {
        text-decoration: none;
      }
    }
  }

  &.minify-header {
    background: #f5f5f5;
    padding: 0 24px;
    position: relative;

    .minify-header-substrate {
      background: #fff;
      width: 100%;
      height: 56px;
      position: absolute;
      left: 0;
      top: 0;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 16px;
        width: 100%;
        height: 40px;
        border-top: 1px solid $table-border-color;
        border-bottom: 1px solid $table-border-color;
      }
    }

    .v-data-table {
      background: #f5f5f5;

      > .v-data-table__wrapper {
        thead {
          th {
            padding: 5px 0px 5px 12px !important;
            background: #fff !important;
            border-top: 1px solid $table-border-color !important;
            border-bottom: 1px solid $table-border-color !important;
            height: 40px;
            position: relative;

            &:first-child {
              width: 30px;
              text-align: center;
              padding-left: 25px !important;

              .v-input--selection-controls__input {
                margin: 0;
              }

              &:before {
                display: none;
              }
            }

            &:after {
              content: '';
              display: block;
              position: absolute;
              bottom: -2px;
              left: 0;
              width: 100%;
              height: 1px;
              background: #f5f5f5;
            }

            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              width: 1px;
              height: 22px;
              margin-top: -11px;
              background: #eee;
            }

            &.actions:before {
              display: none;
            }

            span {
              text-transform: uppercase;
              color: $grey;
            }
          }
        }

        tbody {
          td {
            padding: 5px 12px !important;
            white-space: nowrap;
            background: #fff;

            &:first-child {
              width: 30px;
              text-align: center;
              padding-left: 25px !important;

              .v-input--selection-controls__input {
                margin: 0;
              }
            }

            &:last-child {
              width: 100%;
            }

            .v-btn.actions-btn {
              background: #f5f7f9;
              border-radius: 4px;
              width: 30px;
              height: 30px;
              color: #aaa;
              margin: 0;
            }

            .rate {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.table-list-style-minify {
  // !!!!!  DEPRECATED   USE .rq_flat_table
  margin-bottom: 48px;

  .v-data-table.theme--light {
    background: transparent;

    > .v-data-table__wrapper {
      overflow: visible;

      table {
        border-collapse: separate;
        border-spacing: 0;
        color: #666;
        background: #fff;
        font-weight: 600;
        margin: 0;

        thead {
          th {
            padding: 5px 0px 5px 12px !important;
            background: transparent;
            border-top: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            height: 40px;
            position: relative;
            font-size: 12px;

            &:first-child {
              width: 30px;
              text-align: center;
              padding-left: 25px !important;

              .v-input--selection-controls__input {
                margin: 0;
              }
            }

            &:after {
              content: '';
              display: block;
              position: absolute;
              bottom: -2px;
              left: 0;
              width: 100%;
              height: 1px;
              background: #f5f5f5;
            }

            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              width: 1px;
              height: 22px;
              margin-top: -11px;
              background: #eee;
            }

            &.actions:before {
              display: none;
            }

            span {
              text-transform: uppercase;
              color: $grey;
            }
          }
        }

        tbody {
          td {
            padding: 5px 12px !important;
            white-space: nowrap;
            border-bottom: 1px solid #f7f7f7 !important;
            font-size: 16px;
            font-weight: 600;

            &:first-child {
              width: 30px;
              text-align: center;
              padding-left: 25px !important;

              .v-input--selection-controls__input {
                margin: 0;
              }
            }

            &:last-child {
              width: 100%;
            }

            .v-btn.actions-btn {
              background: #f5f7f9;
              border-radius: 4px;
              width: 30px;
              height: 30px;
              color: #aaa;
              margin: 0;
            }

            .rate {
              display: flex;
              align-items: center;

              .rate-title {
                min-width: 50px;
              }
            }

            .professions {
              color: #263043;

              .count {
                color: #aeaeae;
                display: inline-block;
                margin-left: 4px;
              }
            }
          }
        }
      }

      tr:hover {
        td {
          background: $light_blue;
        }
      }
    }
  }
}

.rate-menu {
  .v-list-item__content {
    padding: 0;
  }

  .rate-list {
    padding: 16px 0;
    border: 1px solid #e2e4e5;
    box-shadow: 0 4px 25px #edeef1;
    border-radius: 10px;
    background: #fff;

    .rate-list-item {
      width: 215px;
      display: flex;
      justify-content: space-between;
      align-content: center;
      font-weight: 400;
      margin-bottom: 16px;
      padding: 0 24px;
      flex-wrap: wrap;

      .rate-list-item-price {
        font-weight: 600;
        display: flex;
        align-items: center;

        &.up {
          color: #71d472;

          .v-icon {
            color: #71d472;
          }
        }

        &.down {
          color: #eb4d3d;

          .v-icon {
            color: #eb4d3d;
          }
        }
      }

      &.current {
        background: #f2f4f5;
        padding: 8px 24px;

        .rate-list-item-price {
          color: #263043;
        }
      }
    }

    .rate-item-title {
      font-weight: 600;
      font-size: 12px;
      color: $grey;
      margin-bottom: 4px;
      width: 100%;
    }

    .rate-list-item-date {
      display: flex;
      align-items: center;
    }

    .rate-list-item-edit {
      a {
        padding: 24px;
        text-transform: none;
        color: $blue;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  &.rate-menu {
    border-radius: 10px;
  }
}

/* Pagination */

.ruqi {
  .v-application {
    .primary:not(.v-progress-linear__background, .new-btn, .v-picker__title) {
      /*класс .new для того чтобы стили применялись только для старой верстки*/
      color: $blue !important;
      border-color: $blue !important;
      // background: #fff !Important;
    }
  }

  .v-data-table__progress {
    .primary {
      background: $blue !important;
    }
  }

  .v-pagination__item,
  .v-pagination__item--active,
  .v-pagination__navigation {
    box-shadow: none;
    border: 1px solid #dfe3e8;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .v-pagination__item {
    margin: 0 4px;
  }

  .v-pagination__navigation {
    margin: 0 4px;
  }

  .pagination-page-num {
    .v-text-field--outlined > .v-input__control > .v-input__slot {
      width: 32px;
      height: 32px;
      padding: 2px !important;
      margin: 0;
      min-height: 32px;
    }

    fieldset {
      border-radius: 4px;
      padding: 0;
    }

    .v-input input {
      text-align: center;
    }
  }
}

/* Forms */

.wrap-form {
  max-width: 803px;

  .form-part {
    background: #f6fbff;
    padding: 32px 150px 32px 28px;
    border: 1px solid $table-border-color;
    border-radius: 30px;
    margin-bottom: 24px;
    color: $black;
  }

  .form-part-title {
    font-size: 20px;
    color: inherit;
    font-weight: 600;
    margin-bottom: 24px;

    &.second {
      margin-top: 32px;
    }
  }

  .form-part-label {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;

    &.FTypeLabel {
      margin-bottom: 0;
    }
  }

  .form-part-label.spacer {
    margin-top: 32px;
  }

  .form-part-description {
    font-size: 14px;
    line-height: 16px;
    color: $grey;
    margin-bottom: 24px;
  }

  .v-select > .v-input__control > .v-input__slot {
    border-radius: 4px;
  }

  .form-part.min-padding {
    padding: 32px 28px;
  }

  .theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
    background: #fff;
  }

  .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
    > .v-input__control
    > .v-input__slot
    fieldset {
    color: $table-border-color;
  }

  .add_link {
    display: block;
    color: $blue;
    margin-top: 24px;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
  }

  .add_link:hover {
    text-decoration: underline;
  }

  .remove-item {
    margin-left: 16px;
    margin-top: 14px;
  }

  .form-part-contact {
    position: relative;

    > .remove-item {
      position: absolute;
      right: 32px;
      top: 32px;
      margin: 0;
    }
  }

  .form-part-single {
    .form-part-title {
      font-size: 20px;
      color: inherit;
      font-weight: 600;
      margin-bottom: 24px;

      &.second {
        margin-top: 32px;
      }
    }

    .v-btn {
      font-weight: 700;
    }
  }

  .add-field {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;

    .v-icon {
      margin-right: 8px;
    }
  }

  .remove-field {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #eb4d3d;
  }
}

.wrap-form.full {
  max-width: 100%;
}

/* Object info */

.object-info {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 24px 0;
  max-width: 804px;

  .object-info-row-rate {
    padding: 0 20px;
  }

  .v-divider {
    margin: 24px 0;
  }

  .object-info-header {
    font-weight: 600;
  }

  .object-info-link {
    a {
      font-weight: 600;
      font-size: 16px;
      color: $blue;
      text-decoration: none;
    }
  }

  .object-info-row {
    margin-bottom: 8px;

    .object-info-title {
      font-weight: 400;
      margin-bottom: 8px;
    }

    .object-info-value {
      font-weight: 600;
    }
  }
}

.modal-dialog {
  border-radius: 16px !important;
}

.close-menu-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
