@import '~vuetify/src/styles/settings/_variables.scss';
$border-color: #e0e0e0;
$grey-custom: #7a91a9;
$anti-flash-white: #f3f3f3;
$table-border-color: #d5dee8;
$primary: #0082de;
$green-custom: #6ec7a4;
$text-field-enclosed-prepend-append-margin-top: 10px;
$font-weights: (
  'medium': 600
);

$btn-border-radius: var(--btn-border-radius);
