.v-menu__content.ruqi_drop_menu {
  box-shadow: none;
  background-color: transparent;
  overflow-y: visible;
  overflow-x: visible;
  contain: none;
  z-index: 300 !important;
}

.v-menu__content.ruqi_drop_menu .v-sheet.v-card {
  padding: 7px 0;
  border-radius: 8px;
  box-shadow: 0 0 40px 0 rgb(2 2 2 / 9%);
  color: $black;
}

.v-menu__content.ruqi_drop_menu .ruqi_drop_menu_item {
  padding: 8px 20px 8px 14px;
  font-weight: 600;
  color: $black;
  cursor: pointer;
  display: flex;
}

.v-menu__content.ruqi_drop_menu .ruqi_drop_menu_item .ob_title {
  padding-right: 15px;
  user-select: none;
  white-space: nowrap;
}

.v-menu__content.ruqi_drop_menu .ruqi_drop_menu_item .left_icon,
.v-menu__content.ruqi_drop_menu .ruqi_drop_menu_item .left_img,
.v-menu__content.ruqi_drop_menu .ruqi_drop_menu_item .left_img_hover {
  margin-right: 8px;
}

.v-menu__content.ruqi_drop_menu .ruqi_drop_menu_item .right_arrow {
  margin-left: 8px;
  margin-right: -8px;
}

.v-menu__content.ruqi_drop_menu .ruqi_drop_menu_item .left_icon,
.v-menu__content.ruqi_drop_menu .ruqi_drop_menu_item .right_arrow {
  width: 24px;
  height: 24px;
  overflow: hidden;
  color: inherit !important;
}

.v-menu__content.ruqi_drop_menu .ruqi_drop_menu_item.align_right {
  justify-content: flex-end;
}

.v-menu__content.ruqi_drop_menu .ruqi_drop_menu_item:hover:not(.disabled) {
  color: $dark_blue;
}

.v-menu__content.ruqi_drop_menu .ruqi_drop_menu_item.disabled {
  opacity: 0.4;
  cursor: default;
}
