.rq_flat_tabs.theme--light.v-btn-toggle:not(.v-btn-toggle--group) {
  background: $anti_flash_white_2;
  color: $granite_gray;
  padding: 4px;
  height: max-content;
}

.rq_flat_tabs.v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default {
  height: 28px;
  border: none;
  border-radius: 4px;
  text-transform: none;
  background-color: inherit;
}

.rq_flat_tabs.v-btn-toggle:not(.v-btn-toggle--dense) .v-btn.v-btn.v-size--default.v-btn--active {
  background-color: white;
  color: black;
}

.rq_flat_tabs.v-item-group {
  gap: 4px;
}

.rq_flat_tabs .v-btn:before {
  background-color: white;
}

.rq_flat_tabs .theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: rgb(0 0 0 / 2%) !important;
}

.rq_outlined_tabs.v-tabs {
  display: inline-block;
  width: initial;
}

.rq_outlined_tabs.v-tabs .v-tabs-bar {
  border-radius: 4px;
  height: 36px;
}

.rq_outlined_tabs.v-tabs .v-tab {
  text-transform: none;
  font-size: 16px;
  padding: 0 16px;
  color: #676e7b;
  border-right: 1px solid #dadada;
}

.rq_outlined_tabs.v-tabs .v-tab.v-tab--active {
  color: #263043;
  background-color: #f2f8ff;
}

.rq_outlined_tabs.v-tabs .v-tab:nth-child(2) {
  border-radius: 4px 0 0 4px;
}

.rq_outlined_tabs.v-tabs .v-tab:last-child {
  border-right: none;
  border-radius: 0 4px 4px 0;
}

.rq_outlined_tabs.v-tabs .v-tabs-slider-wrapper {
  display: none;
}

.rq_rounded_tabs.v-tabs {
  display: inline-block;
  width: initial;
}

.rq_rounded_tabs.v-tabs .v-tabs-bar {
  border-radius: 40px;
  height: 48px;
}

.rq_rounded_tabs.v-tabs .v-tab {
  text-transform: none;
  font-size: 16px;
  padding: 0 24px;
  color: #666666;
  border-radius: 40px;
  border: 1px solid white;
}

.rq_rounded_tabs.v-tabs .v-tab.v-tab--active {
  color: #0082de;
  background-color: white;
  border: 1px solid #0082de;
}

.rq_rounded_tabs.v-tabs .v-tabs-slider-wrapper {
  display: none;
}
